/*******************************TAG SELECTORS**********************************/

body {
  background-color: #E4F9F5;
  color: #40514e;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #2F8F9D;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 0px auto;
  padding: 10vh;
  /* font-family: 'Square Peg', cursive; */
}

h2{
  color: #2F8F9D;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  /*padding-bottom: 10px;*/
}

h3{
  color: #2F8F9D;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border: dotted 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

p{
  line-height: 2;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

/*****************************CLASS SELECTORS**********************************/

.top-container{
  background-color: #82DBD8;
  /*padding-top: 100px;*/
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 350px;
  min-height: 350px;
  z-index: -3;
}

.top-cloud{
  position: absolute;
  top: 5vh;
  animation-name: cloud-top;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes cloud-top {
  0%{
    right: 5vw;
  }
  50%{
    right: 60vw;
  }
  100%{
    right: 5vw;
  }
}

.bottom-cloud{
  position: absolute;
  bottom: 40vh;
  z-index: -1;
  animation-name: cloud-bottom;
  animation-duration: 110s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes cloud-bottom {
  0%{
    left: 5vw;
  }
  50%{
    left: 60vw;
  }
  100%{
    left: 5vw;
  }
}

.mountain{
  position: absolute;
  bottom: 0vh;
  transform: translateX(-50%);
  width: 50%;
  z-index: -2;
}

.middle-container{
  /*margin: 100px 0;*/
  background-color: #B3E8E5;
  padding: 50px;
  min-width: 350px;
  min-height: 350px;
  /*height: 200px;
  width: 200px; */
}

.my-img{
  /* float: left; */
  height: 200px;
  width: 200px;
}

.intro{
  width: 50%;
  margin: auto;
}

.skill-row{
  width: 50%;
  display: flex;
  align-items: center;
  margin: 100px auto;
  text-align: justify;
}

.skill-img{
  width: 15rem;
  /*float: left;*/
}

.skill-content{

}

.web-design-img{
  padding-right: 30px;
}

.deep-net-img{
  padding-left: 30px;
}

.contact-msg{
  width: 40%;
  margin: 40px auto 60px;    /* top (left & right) bottom */
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container{
  background-color: #77c6d1;
  padding: 50px 0 20px;
  /* min-width: 350px;
  min-height: 350px;
  height: 200px;
  width: 200px; */
}

.footer-link{
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  color: #2F8F9D;
  font-weight: bold;
}

.footer-link:hover{
  color: #eaf6f6;
}

.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

/******************************ID SELECTORS************************************/


/**************************MEDIA MODIFICATIONS*********************************/
@media (max-width: 400px or max-height: 400px){
    .top-cloud{
        animation-name: none;
    }
    .bottom-cloud{
        animation-name: none;
    }
}
